

  img {
	max-width: 100%;
    }

.titre-article {
    font-size: 45px;
    text-align: left;
    font-family: "Be Vietnam", "Adobe Blank";
    font-weight: 900;
    max-width: 600;
    font-style: normal;
    color: rgb(0, 0, 0);  
    margin-bottom: 1em 
    }

.meta-description {
    font-size: 25px;
    text-align: left;
    font-family: "Be Vietnam", "Adobe Blank";
    font-weight: 700;
    font-style: italic;
    max-width: 500;
    margin-bottom: 1em 
    }

.flex-container-columns {
    display: flex;
    flex-direction: column;
    }


.article-column-right {
max-width: 40%;
}


.article-column-left {
max-width: 50%;  
font-size: 18px; 
text-align: left;
font-family: "Be Vietnam", "Adobe Blank";
font-weight: 300;

}

.imagefullarticle {
    /*max-width: 900px;*/
    padding-left: 150px;
    padding-right: 150px;
}


@media (max-width:767px){
    .imagefullarticle {
        /*max-width: 900px;*/
        padding-right: 20px!important;
        padding-left: 20px!important;
        padding-bottom: 40px;
    }
  }
  